<!Doctype html>
<html lang="en">
<head>
    <style>
        body{
            background-color:  #333;

        }
        input{
            color:  #000;
            border-radius: 8px;
            border: 6px solid #262626;
        }
    </style>
    <meta charset="UTF-8">
    <!--    <link rel="stylesheet" href="../css/style.css" type="text/css">-->
    <meta http-equiv="refresh" content="15">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

</body>
</html>